body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #23272f;
  color: white;
}


.transition-item {
    transition: transform 1.5s ease;
}

.transition-enter {
  transform: rotateY(-360deg);
}

.transition-enter-active {
  transform: rotateY(0deg);
}
